ion-title {
    text-align: center;
}

ion-content {
    --ion-background-color:#D4D4D4;
}

ion-button {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ion-card {
    --background: #c3c5ca;
}

.zeroBookingSlotsLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: oblique;
}

.medicalCentreLabel {
    color: black;
}

.bookButton {
    --background: #00416d;
}

.backButton {
    --background: #495464
}
