ion-title {
    text-align: center;
}

ion-content {
    --ion-background-color:#e3dfc8;
}

ion-button {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ion-card {
    --background: #f5f1da;
}

.zeroBookingSlotsLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: oblique;
}

.bookButton {
    --background: #00416d;
}

.backButton {
    --background: #f8bd7f
}