ion-content {
    --ion-background-color:#e3dfc8;
}

ion-card {
    --background: #f5f1da;
}

ion-card-title {
    color: #00416d;
    font-size: large;
}

.viewFormTemplateBtn {
    float: right;
    color: #00416d;
    --border-width: 0;
}