ion-content {
    --ion-background-color:#D4D4D4;
}

ion-card {
    --background: #bbbfca;
}

ion-card-title {
    color: #00416d;
    font-size: large;
}

.viewFormTemplateBtn {
    float: right;
    color: #00416d;
    --border-width: 0;
}
