ion-content {
    --ion-background-color:#D4D4D4;
}

ion-card {
    --background: #c3c5ca;
}

ion-card-title {
    color: #00416d;
    font-size: x-large;
}

.cardFieldLabel {
    color: black;
}

ion-fab-button {
    --background: #00416d;
}

.zeroBookingsLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: oblique;
}
