ion-content {
    --ion-background-color:#D4D4D4;
}

ion-item {
    --background: #c3c5ca;
}

.zeroConsultationsLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: oblique;
}

.backButton {
    margin-left: 15px;
    margin-right: 15px;
}
