<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Form Instances</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scrollEvents (ionScroll)="scrollHandler($event)" (ionScrollEnd)="scrollStop($event)">

  <ion-card *ngFor="let fi of formInstances" (click)="editFormInstance(fi)">

    <ion-card-header>
      <ion-card-title>{{fi.formTemplateMapping.formTemplateName}}</ion-card-title>
      <ion-card-subtitle>Status:
        <ion-chip *ngIf="fi.formInstanceStatusEnum == 'DRAFT'" color="primary">
          <ion-label>{{fi.formInstanceStatusEnum}}</ion-label>
        </ion-chip>
        <ion-chip
          *ngIf="fi.formInstanceStatusEnum == 'PRE_CONSULTATION || fi.formInstanceStatusEnum == NON_BOARD_REVIEW || fi.formInstanceStatusEnum == PRE_BOARD_REVIEW'"
          color="secondary">
          <ion-label>{{fi.formInstanceStatusEnum}}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="fi.formInstanceStatusEnum == 'PENDING'" color="tertiary">
          <ion-label>{{fi.formInstanceStatusEnum}}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="fi.formInstanceStatusEnum == 'APPROVED'" color="success">
          <ion-label>{{fi.formInstanceStatusEnum}}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="fi.formInstanceStatusEnum == 'REJECTED'" color="danger">
          <ion-label>{{fi.formInstanceStatusEnum}}</ion-label>
        </ion-chip>
      </ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isShown">
    <ion-fab-button (click)="redirectToFormRepo()" mode="ios">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>