.formTitle {
    text-align: center;
    --background: #00416d;
    height: 5%;
}

.headerInput {
    --background: #03558b;
    color: whitesmoke;
}

.textInput {
    --background: #f5f1da;
}

.numberInput {
    --background: #f5f1da;
}

.dateInput {
    --background: #f5f1da;
}

.timeInput {
    --background: #f5f1da;
}

.radioInput {
    --background: #f5f1da;
}

.checkInput {
    --background: #f5f1da;
}

.singleInput {
    --background: #f5f1da;
}

.multiInput {
    --background: #f5f1da;
}