ion-content {
    --ion-background-color:#D4D4D4;
}

ion-item {
    --background: #414F68
}

ion-col, ion-icon{
    color: #E9F7F7
}

.pesCard {
    height: 23%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    --background: linear-gradient(#a0a3ad, #182e50);
}

.zeroStatusesLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    font-style: oblique;
}
