ion-content {
    --ion-background-color:#e3dfc8;
}

ion-button {
    padding-left: 15px;
    padding-right: 15px;
 }

 ion-input, ion-textarea {
    color: #00416d;
 }

#changePasswordButton {
    --background: #00416d;
    padding-left: 0%;
}

#editDetailsButton {
    margin-top: 10%;
    margin-left: 1%;
    margin-right: 1%;
    --background: #00416d;
}

.formButtons {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.formQns {
    display: flex;
    align-items: center;
    height: 100%;
}

.formAns {
    border-bottom: 1px solid #d4c98e;
}

.successMessage {
    --border-color: #059731;
    --border-radius: 10px;
    --border-width: 1px;
    --ion-background-color:rgb(228, 220, 220);
    color: #059731;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.errorMessage {
    color: red;
    margin-left: 8px;
}