ion-title {
    text-align: center;
}

ion-content {
    --ion-background-color:#e3dfc8;
}

ion-card {
    --background: #f5f1da;
}

ion-label {
    font-weight: bold;
}

ion-row {
    justify-content: center;
}

ion-button {
    width: 40%;
}

.medicalCentreLabel {
    color: black;
}

.retrieveSlotsButton {
    --background: #00416d;
}

.backButton {
    --background: #f8bd7f;
}