<ion-header>
  <ion-toolbar>
    <ion-title>BOOKING SUMMARY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="sectionHeader">
    <h2><u>BOOKING DETAILS</u></h2>
  </div>
  <div class="sectionContent">
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-text><b>Booking ID</b>: {{booking.bookingId}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">
          <ion-text><b>Consultation Purpose</b>:</ion-text>
        </ion-col>
        <ion-col>
          <div class="formAns">
            <ion-text>{{booking.consultationPurpose.consultationPurposeName}}</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="booking.bookingComment">
        <ion-col size=5>
          <ion-text><b>Booking Comment</b>:</ion-text>
        </ion-col>
        <ion-col>
          <div class="formAns">
            <ion-text>{{booking.bookingComment}}</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="booking.cancellationComment">
        <ion-col size=5>
          <ion-text><b>Cancellation Comment</b>:
          </ion-text>
        </ion-col>
        <ion-col>
          <div class="formAns">
            <ion-text>{{booking.cancellationComment}}</ion-text>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>


  <hr class="hr">

  <div class="sectionHeader">
    <h2><u>TIME</u></h2>
  </div>
  <div class="sectionContent">
    <ion-grid>

      <ion-row>
        <ion-col size="6">
          <ion-text><b>Date</b>: {{booking.bookingSlot.startDateTime | date:'dd/MM/yyyy'}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-text><b>Start Time</b>: {{booking.bookingSlot.startDateTime | date:' HH:mm'}}</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-text><b>End Time</b>: {{booking.bookingSlot.endDateTime | date:' HH:mm'}}</ion-text>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <hr class="hr">

  <div class="sectionHeader">
    <h2><u>VENUE</u></h2>
  </div>
  <div class="sectionContent">
    <ion-grid>

      <ion-row>
        <ion-col size="12">
          <ion-text><b>Medical Centre</b>:</ion-text>
        </ion-col>
        <ion-col>
          <ion-label>
            {{booking.bookingSlot.medicalCentre.name}}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-text><b>Address</b>:</ion-text>
        </ion-col>
        <ion-col>
          <ion-label>
            {{booking.bookingSlot.medicalCentre.address.streetName}}
            <br>
            <span *ngIf="booking.bookingSlot.medicalCentre.address.unitNumber">
              {{booking.bookingSlot.medicalCentre.address.unitNumber}}
              <br>
            </span>
            <span *ngIf="booking.bookingSlot.medicalCentre.address.buildingName">
              {{booking.bookingSlot.medicalCentre.address.buildingName}}
              <br>
            </span>
            Singapore {{booking.bookingSlot.medicalCentre.address.postal}}
          </ion-label>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <hr class="hr">

  <div class="sectionHeader" *ngIf="booking.formInstances.length > 0 ">
    <div *ngIf="booking.bookingStatusEnum == 'UPCOMING'">
      <h2><u>REQUIRED FORMS</u></h2>
      <h6 style="color: red;">
        NOTE: You are required to fill up <B><u>all required forms</u></B> before your consultation.
      </h6>
    </div>
    <div *ngIf="booking.bookingStatusEnum != 'UPCOMING'">
      <h2><u>ATTACHED FORMS</u></h2>
    </div>
  </div>
  <div class="sectionContent" *ngIf="booking.formInstances.length > 0 ">
    <ion-grid>

      <ion-row *ngFor="let fi of booking.formInstances" class="formLink">
        <ion-label><b>* </b>
          <u (click)="dismissAndRedirect(fi.formInstanceId)">{{fi.formTemplateMapping.formTemplateName}}</u>&nbsp;
          <ion-chip *ngIf="fi.formInstanceStatusEnum == 'SUBMITTED'" color="success">Submitted</ion-chip>
          <ion-chip *ngIf="fi.formInstanceStatusEnum == 'ARCHIVED'" color="primary">Archived</ion-chip>
          <ion-chip *ngIf="fi.formInstanceStatusEnum == 'DRAFT'" color="tertiary">Draft</ion-chip>
        </ion-label>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar transparent no-border>
    <ion-button *ngIf="booking.bookingStatusEnum == 'UPCOMING'" (click)="presentCancelConfirm()" expand="block"
      style="--background: #c93d06">Cancel Booking</ion-button>
    <ion-button (click)="dismiss()" expand="block" style="--background: #00416d">Close</ion-button>
  </ion-toolbar>
</ion-footer>