ion-title {
    text-align: center;
}

ion-content {
    --ion-background-color:#e3dfc8;
}

ion-button {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sectionHeader {
    margin-left: 5%;
    color: #00416d;
}

.sectionContent {
    margin-left: 3%;
}

.hr {
    border-bottom: solid #f5f1da;
    width: 100%;
}

.formLink {
    margin-bottom: 5%;
}

.formAns {
    display: flex;
    align-items: center;
    height: 100%;
}
