<ion-header>
  <ion-toolbar>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <h1>{{notification.title}}</h1>
  </div>

  <div>
    <ion-note>
      {{notification.notificationDate | date:'dd/MM/yyyy HH:mm'}}
    </ion-note>
  </div>

  <div>
    <p style="white-space: pre-line;">{{notification.message}}</p>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar transparent no-border>
    <ion-row>
      <ion-col class="optionButtonCol">
        <ion-button (click)="redirect()" [disabled]="notification.dynamicId === undefined"
          style="--background: #00416d; width: 190px;">
          View
        </ion-button>
      </ion-col>
      <ion-col class="optionButtonCol">
        <ion-button (click)="deleteNotification()" style="--background: #c93d06; width: 190px;">
          Delete
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-button (click)="dismiss()" expand="block" style="--background: #495464">Close</ion-button>
  </ion-toolbar>
</ion-footer>