ion-title {
    text-align: center;
}

ion-content {
    --ion-background-color:#e3dfc8;
}

div {
    margin-left: 3%;
}

ion-button {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.optionButtonCol {
    display: flex;
    justify-content: center;
}
