ion-content {
    --ion-background-color:#D4D4D4;
}

ion-fab-button {
    --background: #495464
}

ion-fab-button[data-desc] {
    position: relative;
}

ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: #00416d;
    padding: 9px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}

.zeroNotificationsLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-style: oblique;
}
