<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true" (ionScroll)="scrollHandler($event)" (ionScrollEnd)="scrollStop($event)">

  <div class="zeroNotificationsLabel" *ngIf="allNotifications?.length === 0">
    <ion-text>You have zero notifications.</ion-text>
  </div>

  <ion-list>

    <ion-list-header *ngIf="todayNotifications?.length > 0">
      <h2><b>Today</b></h2>
    </ion-list-header>

    <ion-item-sliding *ngFor="let n of todayNotifications" (ionSwipe)="deleteNotification(n.notificationId)">

      <ion-item (click)="readNotification(n)">
        <ion-label>
          <h2 *ngIf="!n.isRead"><b>{{n.title}}</b></h2>
          <h2 *ngIf="n.isRead">{{n.title}}</h2>
          <p>{{n.notificationDate | date:'dd/MM/yyyy | HH:mm'}}</p>
          <h3>{{n.message}}</h3>
        </ion-label>
        <ion-note slot="end" *ngIf="n.isRead">
          <ion-icon name="mail-open-outline" style="font-size: 250%;"></ion-icon>
        </ion-note>
        <ion-note slot="end" *ngIf="!n.isRead">
          <ion-icon name="mail-outline" style="font-size: 250%;"></ion-icon>
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="deleteNotification(n.notificationId)">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-list-header *ngIf="thisWeekNotifications?.length > 0">
      <h2><b>This Week</b></h2>
    </ion-list-header>

    <ion-item-sliding *ngFor="let n of thisWeekNotifications" (ionSwipe)="deleteNotification(n.notificationId)">

      <ion-item (click)="readNotification(n)">
        <ion-label>
          <h2 *ngIf="!n.isRead"><b>{{n.title}}</b></h2>
          <h2 *ngIf="n.isRead">{{n.title}}</h2>
          <p>{{n.notificationDate | date:'dd/MM/yyyy | HH:mm'}}</p>
          <h3>{{n.message}}</h3>
        </ion-label>
        <ion-note slot="end" *ngIf="n.isRead">
          <ion-icon name="mail-open-outline" style="font-size: 250%;"></ion-icon>
        </ion-note>
        <ion-note slot="end" *ngIf="!n.isRead">
          <ion-icon name="mail-outline" style="font-size: 250%;"></ion-icon>
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="deleteNotification(n.notificationId)">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-list-header *ngIf="earlierNotifications?.length > 0">
      <h2><b>Earlier</b></h2>
    </ion-list-header>

    <ion-item-sliding *ngFor="let n of earlierNotifications" (ionSwipe)="deleteNotification(n.notificationId)">

      <ion-item (click)="readNotification(n)">
        <ion-label>
          <h2 *ngIf="!n.isRead"><b>{{n.title}}</b></h2>
          <h2 *ngIf="n.isRead">{{n.title}}</h2>
          <p>{{n.notificationDate | date:'dd/MM/yyyy | HH:mm'}}</p>
          <h3>{{n.message}}</h3>
        </ion-label>
        <ion-note slot="end" *ngIf="n.isRead">
          <ion-icon name="mail-open-outline" style="font-size: 250%;"></ion-icon>
        </ion-note>
        <ion-note slot="end" *ngIf="!n.isRead">
          <ion-icon name="mail-outline" style="font-size: 250%;"></ion-icon>
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="deleteNotification(n.notificationId)">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isShown">
  <ion-fab-button>
    <ion-icon name="cog-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="readAllNotifications()" color="light" data-desc="Mark All As Read">
      <ion-icon name="checkmark-done"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="deleteAllNotifications()" color="light" data-desc="Delete All">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>