ion-title {
    text-align: center;
}

ion-content {
    --ion-background-color:#D4D4D4;
}

ion-button {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sectionHeader {
    margin-left: 5%;
    color: #00416d;
}

.sectionContent {
    margin-left: 3%;
}
