<ion-header>
  <ion-toolbar>
    <ion-title>Outcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="sectionHeader">
    <h2><u>PES Details:</u></h2>
  </div>

  <div class="sectionContent">
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-text><b>PES Status</b>: {{medicalBoardCaseWrapper.medicalBoardCase.finalPesStatus}}</ion-text>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <div class="sectionHeader">
    <h2><u>Status Details:</u></h2>
  </div>

  <div class="sectionContent">
    <ion-grid>

      <div *ngIf="medicalBoardCaseWrapper.conditionStatuses.length > 0">
        <ion-row *ngFor="let status of medicalBoardCaseWrapper.conditionStatuses">
          <ion-col>
            <ion-row>
              <ion-text><b>Status</b>: {{status.conditionStatus.description}}</ion-text>
            </ion-row>
            <ion-row *ngIf="status.conditionStatus.statusEndDate !== undefined">
              <ion-text><b>Validity</b>: {{status.conditionStartDate | date:'dd/MM/yyyy'}} -
                {{status.conditionStatus.statusEndDate | date:'dd/MM/yyyy'}}</ion-text>
            </ion-row>
            <ion-row *ngIf="status.conditionStatus.statusEndDate === undefined">
              <ion-text><b>Validity</b>: PERMANENT</ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="medicalBoardCaseWrapper.conditionStatuses.length === 0">
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-text>No status update.</ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>

    </ion-grid>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar transparent no-border>
    <ion-button (click)="redirectToMyStatuses()" expand="block" style="--background: #182e50">My Statuses</ion-button>
    <ion-button (click)="dismiss()" expand="block" style="--background: #495464">Close</ion-button>
  </ion-toolbar>
</ion-footer>