ion-content {
    --ion-background-color:#e3dfc8;
}

ion-card {
    --background: #f5f1da;
}

ion-row {
    display: flex;
    align-items: center;
}

div {
    width: 100%;
}

.optionsButton {
    color: #00416d;
    --border-width: 0;
}

.addToFormInstancesButton {
    padding-left: 15px;
    padding-right: 15px;
    --background: #f8bd7f;
}