<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode="ios" class="welcomeCard">
    <ion-card-header>
      <ion-card-subtitle>WELCOME</ion-card-subtitle>
      <ion-card-title>{{serviceman.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <B><u>Beware of Scam Calls or Text Messages!</u></B>
      <br>
      We are aware of calls or text messages falsely informing recipients that they have been in close proximity to
      someone who has been tested positive for COVID-19.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" class="queueCard" *ngIf="positionInQueueToShow != null" (click)="refreshQueueCard()">

    <div *ngIf="!showLoading">
      <ion-card-header style="text-align: center;">
        <ion-card-title style="color: whitesmoke; font-size: 50px;">
          {{calculateQueueNumber(waitingConsultationToShow?.booking.bookingId)}}
        </ion-card-title>
        <ion-card-subtitle>
          Queue Number
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-card-title style="text-align: center; color: #423b2e;">
          Queue Position:
          {{positionInQueueToShow}}
        </ion-card-title>
      </ion-card-content>
    </div>

    <div *ngIf="showLoading">
      <ion-card-header style="text-align: center;">
        <ion-card-title style="color: whitesmoke; font-size: 50px;">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-title>
        <ion-card-subtitle>
          Queue Number
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-card-title style="text-align: center; color: #423b2e;">
          Queue Position:
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-card-title>
      </ion-card-content>
    </div>

  </ion-card>

  <ion-card mode="ios" class="upcomingAppointmentCard" (click)="redirectToBookingsScreen()"
    *ngIf="upcomingBooking != null">
    <ion-row>

      <ion-col size="3" style="background-color: #14274e;">

        <ion-row>
          <ion-card-title style="color: whitesmoke; font-size: 23px; margin-top: 20px; margin-left: 5px;">
            {{upcomingBooking?.bookingSlot.startDateTime | date:'MMM d'}}</ion-card-title>
        </ion-row>
        <ion-row>
          <ion-card-title style="color: whitesmoke; margin-top: 30px; margin-left: 5px;">
            {{upcomingBooking?.bookingSlot.startDateTime | date:'HH:mm'}}</ion-card-title>
        </ion-row>

      </ion-col>

      <ion-col style="background-color: #f1f6f9;">

        <ion-row>
          <ion-card-subtitle style="margin-top: 10px; margin-left: 5px;">Upcoming Booking at</ion-card-subtitle>
          <ion-card-title style="font-size: large; margin-top: 10px; margin-left: 5px;">
            {{upcomingBooking?.bookingSlot.medicalCentre.name}}
          </ion-card-title>
        </ion-row>
        <ion-row>
          <ion-card-title style="font-size: large; margin-top: 10px; margin-left: 5px; margin-bottom: 10px;">
            <ion-card-subtitle>Purpose:</ion-card-subtitle>
            {{upcomingBooking?.consultationPurpose.consultationPurposeName}}
          </ion-card-title>
        </ion-row>

      </ion-col>

    </ion-row>
  </ion-card>

  <ion-card mode="ios" [ngClass]="taskCount > 0 ? 'pendingFormsCard' : 'zeroPendingFormsCard'"
    (click)="redirectToFormsScreen()">
    <ion-card-header>
      <ion-card-subtitle *ngIf="taskCount > 0" style="color: whitesmoke;">Important</ion-card-subtitle>
      <ion-row>

        <ion-col size="3">
          <ion-card-title style=" font-size: 59px; color: whitesmoke; text-align: center;">{{taskCount}}
          </ion-card-title>
        </ion-col>
        <ion-col>
          <ion-card-title style=" font-size: 38px; color: whitesmoke;" *ngIf="taskCount > 1">Unsubmitted Forms
          </ion-card-title>
          <ion-card-title style=" font-size: 38px; color: whitesmoke;" *ngIf="taskCount == 1">Unsubmitted Form
          </ion-card-title>
          <ion-card-title style=" font-size: 38px; color: whitesmoke;" *ngIf="taskCount < 1">Forms for Submission
          </ion-card-title>
        </ion-col>

      </ion-row>
    </ion-card-header>

    <ion-card-content style="color: black;">
      You are <u><b>required</b></u> to fill up all required forms before indicating your attendance at the medical
      centre.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" class="notificationCard" (click)="redirectToNotificationsScreen()">
    <ion-row>

      <ion-col size="4">

        <ion-icon *ngIf="unreadNotificationsCount > 0" name="mail-unread-sharp"
          style="font-size: 700%; margin-left: 10%; color: whitesmoke;"></ion-icon>
        <ion-icon *ngIf="unreadNotificationsCount === 0" name="mail-open-sharp"
          style="font-size: 700%; margin-left: 10%; color: whitesmoke;"></ion-icon>

      </ion-col>

      <ion-col>

        <ion-row style="align-items: center;">
          <ion-col size="3">
            <ion-card-title style="font-size: 280%; color: whitesmoke;">
              {{unreadNotificationsCount}}
            </ion-card-title>
          </ion-col>
          <ion-col style="margin-top: 5%;">
            <ion-card-title *ngIf="unreadNotificationsCount !== 1" style="font-size: 190%; color: whitesmoke;">
              Unread Notifications
            </ion-card-title>
            <ion-card-title *ngIf="unreadNotificationsCount === 1" style="font-size: 190%; color: whitesmoke;">
              Unread Notification
            </ion-card-title>
          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>
  </ion-card>

</ion-content>