ion-content {
    --ion-background-color:#D4D4D4;
}

.welcomeCard {
    --ion-background-color: #c3c5ca;
}

.queueCard {
    --ion-background-color: #ebc378;
}

.pendingFormsCard {
    --ion-background-color: #eb7b78;
}

.zeroPendingFormsCard {
    --ion-background-color: #62b57a;
}

.notificationCard {
    --ion-background-color: #62b2b5;
}
