<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>WELCOME</ion-card-subtitle>
      <ion-card-title>{{serviceman.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci, magnam omnis odit labore beatae nesciunt
      officia, quia modi laboriosam provident ipsam aspernatur saepe facilis nulla, ex possimus officiis illo.
    </ion-card-content>
  </ion-card>
</ion-content>