ion-content {
    --ion-background-color:#bbbfca;
}

ion-button {
  margin-top: 30px;
  --background: #495464;
}

ion-col {
 display: flex;
 justify-content: center;
}

ion-item {
  --highlight-height: 0;
}

#logo {
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#welcomeText {
  text-align: center;
  color: #00416d;
}

#welcomeSubText {
  text-align: center;
  color: #658faa;
  margin-top: 10px;
}

.roundedInput {
  --border-color: #658faa;
  --border-radius: 15px;
  --border-width: 1px;
  --box-shadow: 2px gray;
  --highlight-height: 0;
  --background: #D4D4D4;
  width: 90%;
 }

 .errorMessage {
  --border-color: #970505;
  --border-radius: 10px;
  --border-width: 1px;
  --ion-background-color:rgb(228, 220, 220);
  color: #440000;
  width: 90%;
  margin-top: -20px;
 }

 .successMessage {
  --border-color: #059731;
  --border-radius: 10px;
  --border-width: 1px;
  --ion-background-color:rgb(228, 220, 220);
  color: #059731;
  width: 90%;
  margin-top: -20px;
 }
