<ion-content>

  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

    <h1 id="welcomeText">Welcome!</h1>
    <p id="welcomeSubText">Log in with your NRIC to get started.</p>

    <ion-grid>

      <ion-row style="margin-top: 20px;">
        <ion-col>
          <ion-item class="roundedInput">
            <ion-label position="floating" style="color: #00416d;">NRIC</ion-label>
            <ion-input name="nric" [(ngModel)]="nric" minlength="9" maxlength="9" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 10px;">
        <ion-col>
          <ion-item class="roundedInput">
            <ion-label position="floating" style="color: #00416d;">Password</ion-label>
            <ion-input name="password" [(ngModel)]="password" type="password" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <div id="errorMessage" #errorMessage>
        <ion-row *ngIf=invalidLogin>
          <ion-col>
            <ion-item class="errorMessage">
              <ion-input disabled name="errorMessageString" [(ngModel)]="errorMessageString"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

      <ion-row>
        <ion-col>
          <ion-button style="width: 150px;" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button style="width: 150px;" (click)="clear()">Clear</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button style="width: 355px; --background: #00416d" (click)=redirectToStartScreen()>Back</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>

</ion-content>