ion-content {
    --ion-background-color:#D4D4D4;
}

ion-card {
    --background: #c3c5ca;
}

ion-card-content {
    padding-left: 0%;
    color: black;
}

ion-list {
    background: #c3c5ca;
}

ion-item {
    --background: #c3c5ca;
}

.formTitle {
    text-align: center;
    --background: #00416d;
    height: 5%;
}

.headerInput {
    --background: #03558b;
    color: whitesmoke;
}

.requiredMark {
    margin-left: 1%;
    color: red;
}
